<h1 class="display-4" style="margin-left:50px;margin-top:50px;">Dashboard</h1>
<!-- Button trigger modal -->
<div style="display:flex;flex-direction:row;justify-content:space-between;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable" style="margin-left:50px;margin-top:50px">
        Add new tracked item
    </button>
    <button type="button" class="btn btn-primary" style="margin-right:50px;margin-top:50px;" (click)="refresh()">Refresh Prices</button>
</div>

<table class="table table-striped table-bordered table-hover" *ngIf="logService.loggedUser.userSubscribedItems.length !== 0" style="margin-top: 50px;">
        <thead>
            <tr>
                <th>Icon</th>
                <th>Item Name FR</th>
                <th>Item Name EN</th>
                <th>Black Market</th>
                <th>Bridgewatch</th>
                <th>Caerleon</th>
                <th>Fort Sterling</th>
                <th>Lymhurst</th>
                <th>Martlock</th>
                <th>Thetford</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of logService.loggedUser.userSubscribedItems; let i=index" (click)="removeItem(item)">
                <td><img width="100px" height="100px" alt="No Img Found" src={{item.itemIcon}} title={{item.itemId}}/></td>
                <td>{{item.itemNameFR}}</td>
                <td>{{item.itemNameEN}}</td>
                <td>Buy Order: {{(item.itemPrices && item.itemPrices.BlackMarket) ? item.itemPrices.BlackMarket.maxBuyOrder : 0}}<br />Sell Order: {{(item.itemPrices && item.itemPrices.BlackMarket) ? item.itemPrices.BlackMarket.minSellOrder : 0}}</td>
                <td>Buy Order: {{(item.itemPrices && item.itemPrices.Bridgewatch) ? item.itemPrices.Bridgewatch.maxBuyOrder : 0}}<br />Sell Order: {{(item.itemPrices && item.itemPrices.Bridgewatch) ? item.itemPrices.Bridgewatch.minSellOrder : 0}}</td>
                <td>Buy Order: {{(item.itemPrices && item.itemPrices.Caerleon) ? item.itemPrices.Caerleon.maxBuyOrder : 0}}<br />Sell Order: {{(item.itemPrices && item.itemPrices.Caerleon) ? item.itemPrices.Caerleon.minSellOrder : 0}}</td>
                <td>Buy Order: {{(item.itemPrices && item.itemPrices.FortSterling) ? item.itemPrices.FortSterling.maxBuyOrder : 0}}<br />Sell Order: {{(item.itemPrices && item.itemPrices.FortSterling) ? item.itemPrices.FortSterling.minSellOrder : 0}}</td>
                <td>Buy Order: {{(item.itemPrices && item.itemPrices.Lymhurst) ? item.itemPrices.Lymhurst.maxBuyOrder : 0}}<br />Sell Order: {{(item.itemPrices && item.itemPrices.Lymhurst) ? item.itemPrices.Lymhurst.minSellOrder : 0}}</td>
                <td>Buy Order: {{(item.itemPrices && item.itemPrices.Martlock) ? item.itemPrices.Martlock.maxBuyOrder : 0}}<br />Sell Order: {{(item.itemPrices && item.itemPrices.Martlock) ? item.itemPrices.Martlock.minSellOrder : 0}}</td>
                <td>Buy Order: {{(item.itemPrices && item.itemPrices.Thetford) ? item.itemPrices.Thetford.maxBuyOrder : 0}}<br />Sell Order: {{(item.itemPrices && item.itemPrices.Thetford) ? item.itemPrices.Thetford.minSellOrder : 0}}</td>
            </tr>
        </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Search</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-searcher></app-searcher>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>